body  
{  
    margin: 0;  
    padding: 0;  
    background-color:white;  
    font-family: 'Arial';  
}  
.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: white;  
        border-radius: 15px ;  
          
}  
h2{  
    text-align: center;  
    color: black;  
    padding: 20px;  
}  
label{  
    text-align: center;
    color: black;  
    font-size: 17px;  
}  
#email{  
    width: 400px;  
    height: 30px;
    border: 1px solid grey;
    border-radius: 3px;  
    
}  
#password{  
    width: 400px;  
    height: 30px;
    border: 1px solid grey;
    border-radius: 3px;  
    
}  
#log{ 
    width: 100px;  
    height: 30px; 
    background-color: black;
    color: white;
    border: 1px solid grey;  
     /* border-radius: 2px;   */
    padding-left: 7px;   

}  
#signinbuttondiv{
    /* border: solid 2px; */
    margin-top: 25px;
    padding-left: 150px;
}