body  
{  
    margin: 0;  
    padding: 0;  
    background-color:white;  
    font-family: 'Arial';  
}  
.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: white;  
        border-radius: 15px ;  
          
}  
h2{  
    text-align: center;  
    color: black;  
    padding: 20px;  
}  
label{  
    text-align: center;
    color: black;  
    font-size: 17px;  
}  
#email{  
    width: 400px;  
    height: 30px;  
    border: solid;  
    border-radius: 3px;  
    padding-left: 8px;
    color: black; 

}  
#Pass{  
    width: 400px;  
    height: 30px;  
    border: solid;  
    border-radius: 3px;  
    padding-left: 8px; 
    color: black; 

}  
#log{  
    width: 400px;  
    height: 30px;  
    border: solid;  
     border-radius: 17px;  
    padding-left: 7px;  
    color: black;  

}  
